<h1>Catálogo Libros</h1>

<ul>
    {{#each Books}} 

        <li>
            <dt>Título:</dt> <dd>{{title}}</dd>
            <dt>Descripción:</dt> <dd>{{description}}</dd>
            <dt>Categoría:</dt> <dd>{{category}}</dd>
            <dt>Stock:</dt> <dd>{{stock}}</dd>
            <dt>Precio:</dt> <dd>{{price}} €</dd>
        </li>
        
    {{/each}}
</ul>